@import url('https://fonts.googleapis.com/css2?family=Baloo+2:wght@800&display=swap');

*{
    box-sizing: border-box;
    font-family: 'Baloo 2', cursive;
}

body{
    background-color: #ffd2fe;
    color: rgb(27, 27, 27);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: visible;
    margin: 20px 0px 40px 0px;
    text-align: center;
}

#changeColor {
  position: absolute;
  right: 20px;
  top:20px;
  cursor:pointer;
}

body.dark{
  background: rgb(1, 6, 53);
  color: #fff;
}

#game
{
    text-align: center;
}

#categoryList{
    text-align: center;
}

#heros
{
  width:300px;
  height:80px;
  display: inline-block;
  padding: 15px;  
  font-size: x-large;
  text-align:center;
  background-color: rgb(141, 141, 141);
  margin:10px;
  border-radius:10px;
  border: 5px solid black;
  cursor:pointer;
  background-image: url('images/hero.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: shadow-pop-tr 0.8s 0.5s both;
	animation: shadow-pop-tr 0.8s 0.5s both;
  -webkit-transition : border 0.5s ease-out;
  -moz-transition : border 0.5s ease-out;
  -o-transition : border 0.5s ease-out;
  transition : border 0.5s ease-out;
}

#heros:hover{
    background: linear-gradient(to right, red, orange);;
    border : 10px solid rgb(248, 204, 204); 
}

#fruits
{
    width:300px;
    height:80px;
    display: inline-block;
    padding: 15px;  
    font-size: x-large;
    text-align:center;
    background-color: rgb(141, 141, 141);
    margin:10px;
    border-radius:10px;
    border: 5px solid black;
    cursor:pointer;
    background-image: url('images/fruits.png');
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-animation: shadow-pop-tr 0.8s 0.5s both;
	  animation: shadow-pop-tr 0.8s 0.5s both;
    -webkit-transition : border 0.5s ease-out;
    -moz-transition : border 0.5s ease-out;
    -o-transition : border 0.5s ease-out;
    transition : border 0.5s ease-out;
}

#fruits:hover{
    background: linear-gradient(to right, red, orange);
    border : 10px solid rgb(248, 204, 204); 
}

#mrtStations
{
  width:300px;
  height:80px;
  display: inline-block;
  padding: 15px;  
  font-size: x-large;
  text-align:center;
  background-color: rgb(141, 141, 141);
  margin:10px;
  border-radius:10px;
  border: 5px solid black;
  cursor:pointer;
  background-image: url('images/station.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: shadow-pop-tr 0.8s 0.5s both;
	animation: shadow-pop-tr 0.8s 0.5s both;
  -webkit-transition : border 0.5s ease-out;
  -moz-transition : border 0.5s ease-out;
  -o-transition : border 0.5s ease-out;
  transition : border 0.5s ease-out;
}

#mrtStations:hover{
    background: linear-gradient(to right, red, orange);;
    border : 10px solid rgb(248, 204, 204); 
}

#animals
{
  width:300px;
  height:80px;
  display: inline-block;
  padding: 15px;  
  font-size: x-large;
  text-align:center;
  background-color: rgb(141, 141, 141);
  margin:10px;
  border-radius:10px;
  border: 5px solid black;
  cursor:pointer;
  background-image: url('images/animal.png');
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-animation: shadow-pop-tr 0.8s 0.5s both;
	animation: shadow-pop-tr 0.8s 0.5s both;
  -webkit-transition : border 0.5s ease-out;
  -moz-transition : border 0.5s ease-out;
  -o-transition : border 0.5s ease-out;
  transition : border 0.5s ease-out;
}

#animals:hover{
  background: linear-gradient(to right, red, orange);;
  border : 10px solid rgb(248, 204, 204); 
}

@-webkit-keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }
  @keyframes shadow-pop-tr {
    0% {
      -webkit-box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
              box-shadow: 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e, 0 0 #3e3e3e;
      -webkit-transform: translateX(0) translateY(0);
              transform: translateX(0) translateY(0);
    }
    100% {
      -webkit-box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
              box-shadow: 1px -1px #3e3e3e, 2px -2px #3e3e3e, 3px -3px #3e3e3e, 4px -4px #3e3e3e, 5px -5px #3e3e3e, 6px -6px #3e3e3e, 7px -7px #3e3e3e, 8px -8px #3e3e3e;
      -webkit-transform: translateX(-8px) translateY(8px);
              transform: translateX(-8px) translateY(8px);
    }
  }  

#welcome{
    font-size: 60px;
    /* text-shadow: rgb(255, 215, 53) 1px 0 10px; */
    -webkit-animation: text-shadow-drop-center 1.2s infinite both;
    animation: text-shadow-drop-center 1.2s infinite both;
    /* text-shadow: 0px 0px 0 rgb(232,170,0),
                 0px 1px 0 rgb(255, 216, 124),
                 0px 2px 0 rgb(187,125,0),
                 0px 3px 0 rgb(164,102,0),
                 0px 4px 0 rgb(141,79,0),
                 0px 5px 0 rgb(118,56,0),
                 0px 6px 0 rgb(95,33,0),
                 0px 7px 0 rgb(73,11,0),
                 0px 8px 0 rgb(50,-12,0),
                 0px 9px 0 rgb(27,-35,0),
                 0px 10px  0 rgb(4,-58,0),
                 0px 11px 10px rgba(0,0,0,0.6),
                 0px 11px 1px rgba(0,0,0,0.5),
                 0px 0px 10px rgba(0,0,0,.2); */
}

@-webkit-keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(225, 238, 171, 0);
    }
    100% {
      text-shadow: 0 0 18px rgba(73, 25, 25, 0.765);
    }
  }

  @keyframes text-shadow-drop-center {
    0% {
      text-shadow: 0 0 0 rgba(8, 11, 5, 0);
    }
    100% {
      text-shadow: 0 0 30px #a9a109;
    }
  }

#cat{
    font-size: 30px;
    /* text-shadow: rgb(255, 215, 53) 1px 0 10px; */
    -webkit-animation: text-shadow-drop-center 0.6s infinite both;
    animation: text-shadow-drop-center 0.6s infinite both;
}


/* body { */
  /* background-color: pink; */
  /* font-family: Arial, Helvetica, sans-serif; */
  /* text-align: center; */
/* }  */

.clue-div{
  display: flex;
  color: darkblue;
  font-family: Arial, Helvetica, sans-serif;
}

button{
  background-color: aqua;
  color: black;
  border: solid 1px black;
  border-radius: 15px;
  cursor:pointer;
  font-size:1.2em;
  padding: 18px 10px;
  width:180px;
  margin: 10px;
  outline: none;
}

button:hover{
  background: rgb(112, 235, 235);
  border : 6px solid rgb(0, 0, 0); 
}

.notif {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(177, 49, 87);
  width: 20rem;
  padding: 20px 10px;
  border-radius: 4px;
  box-shadow: 3px 3px 1px 1px black;
}

.blur {
  filter: blur(2px);
}

.hidden {
  display: none;
}

.flashkeys {
  width: 2rem;
  height: 2rem;
  background: #dfeb44;
  border: none;
  border-radius: 4px;
  margin: 3px;
  cursor: pointer;
  position: relative;
}

.flashkeys:hover {
  background-color: #d54a74;
  border: none;
}

.flashkeys p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}


.words-input {
  display: inline-flex;
}

.word {
  margin-right: 1.5rem; 
}

.disabled {
  pointer-events: none;
  background-color: darkgray;
}

#hangman{
  color: #d54a74;
}